@model SunriseSunset.Models.CitiesListViewModel
@{
    ViewBag.Title = "Sunrise Sunset";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<form method="get">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">City: </label>
            @Html.DropDownList("City", Model.CitySelectList, string.Empty,
                htmlAttributes: new { @class = "form-control" })

            <label class="control-label">Sunrise or Sunset: </label>
            @Html.DropDownList("SelectionType", Model.SelectionColumn, string.Empty,
                htmlAttributes: new { @class = "form-control" })

            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            City
        </th>

        @if (Model.SelectionColumnValue.HasValue && Model.SelectionColumnValue == 1)
        {
            <th style="display:none;">
                Sunrise
            </th>
        }
        else
        {
            <th>
                Sunrise
            </th>
        }



        @if (Model.SelectionColumnValue.HasValue && Model.SelectionColumnValue == 0)
        {
            <th style="display:none;">
                Sunset
            </th>
        }
        else
        {
            <th>
                Sunset
            </th>
        }


    </tr>
    
    @foreach (var item in Model.Cities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>

            @if (Model.SelectionColumnValue.HasValue && Model.SelectionColumnValue == 1)
            {
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.Sunrise)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Sunrise)
                </td>
            }

            @if (Model.SelectionColumnValue.HasValue && Model.SelectionColumnValue == 0)
            {
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.Sunset)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Sunset)
                </td>
            }

        </tr>
    }
    
</table>
</body>
</html>